@import "tailwindcss";

a {
  text-decoration: none;
}
body {
  background-color: #031f39;
}
li {
  list-style: none;
}
.active {
  color: orangered;
}
#root {
  min-height: 100vh;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

test {
  color: #edf2ff;
}

@keyframes bgScale {
  0% {
    background-size: 98%;
  }
  100% {
    background-size: 99.5%;
  }
}

.hover-input:hover {
  box-shadow: 0px 0px 1px #3939ff;
}

/* Hide scrollbar cleanly */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* For Webkit browsers (Chrome, Edge, Safari) */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 9999px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 9999px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.shimmer {
  background: linear-gradient(
    to right,
    #fff 0%,
    #f1eeee 20%,
    #fcf9f9 40%,
    #fffdfd 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
