@import "tailwindcss";

a {
  text-decoration: none;
}
body {
  background-color: #031f39;
}
li {
  list-style: none;
}
.active {
  color: orangered;
}
#root {
  min-height: 100vh;
  
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

test{
  color : #edf2ff
}

@keyframes bgScale {
  0% {
    background-size: 98%;
  }
  100% {
    background-size: 99.5%;
  }
}

/* Hide scrollbar cleanly */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* For Webkit browsers (Chrome, Edge, Safari) */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 9999px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 9999px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #555;
}
